.color{
    color: #00B7FF;
}

.main-header{
    position: relative;
    display: inline-block;
}

.upper-header{
    position: relative;
    display: inline;
}

.upper-header a{
    color: #00B7FF;
}

.lower-header{
    position: relative;
    padding: 0 0 0 40px;
}

img{
    width: 150px;
    height: 50px;
}

input{
    border-radius: 5px;
    margin: 0 5px 0 20px;
    width: 300px;
}

button{
    margin: 0 5px 0 5px;
}

.button-search{
    margin: -10px 20px 0 -100px;
}

.button-search img{
    height: 20px;
    padding: 0 0 0 -70px;
}

.link-login{
    margin-left: 100px;
}


.button-menu img{
    right: 0;
    height: 25px;
    margin-top : -5px;
}

.menu li{
    display: inline-block;
    margin: 0 10px 0 10px;
}

.lower-header a{
    color: black;
}

.lower-header a:hover{
    color: black;
}